@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #b87333;
  --color-primary-hover: #a05a2c;
  --color-primary-light: #cd7f32;
  --color-primary-hover-light: #b8733320;

  --color-surface: #f9fafb;
  --color-surface-dark: #101010;

  --color-border: #e5e7eb;
  --color-border-dark: #b87333;

  --color-text: #1a202c;
  --color-text-light: #f3f4f6;
  --color-text-muted: #4b5563;
  --color-text-muted-dark: #9ca3af;

  --color-bg-input: #fff;
  --color-bg-input-dark: #101010;
  --color-border-input: #d1d5db;
  --color-border-input-dark: #b87333;

  --color-success: #22c55e;
  --color-error: #ef4444;
}

body {
  margin: 0;
  min-height: 100vh;
}
